@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/*  ---Entendendo preferes-color-scheme---
  Essa query vai perguntar se o usuário está com o SO no modo claro ou escuro, podemos configurar então para que ele responda de acordo com essa preferência

  exemplo:
  // Esse é o que está como padrão
  body {
    background: white;
  }

  Mas caso o SO esteja no modo dark
  @media (prefers-color-scheme: dark) {
    background: black;
  }

  Se o padrão for o tema escuro, só mudamos o color-scheme para light e o root com as cores escuras
  Nesse caso não necessitamos de um botão para mudar a cor, no entanto o usuário fica preso a cor do SO, melhor etão ter um botão
*/

:root {
    /* Dark theme (default) */
    --color-primary: oklch(0.6665 0.2032 297.13);
    --color-secondary: #333248;
    --color-background: oklch(0.2238 0.0404 289.27);
    --color-surface: #2B2D42;
    --color-text: #ffffff;
    --color-text-secondary: #6c757d;
    --color-border: #AEAECB;

    --shadow-small: 0 1px 3px rgba(0, 0, 0, 0.12);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-large: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Caso vá fazer alternador manual */
[data-theme="light"] {
    --color-primary: oklch(0.6665 0.2032 297.13);
    --color-secondary: #6c757d;
    --color-background: oklch(95.514% 0.00011 271.152);
    --color-surface: #343a40;
    --color-text: #f8f9fa;
    --color-text-secondary: #adb5bd;
    --color-border: #495057;

    --shadow-small: 0 1px 3px rgba(0, 0, 0, 0.3);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.3);
    --shadow-large: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* Smooth theme transitions */
* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-background: var(--color-background);
    --color-surface: var(--color-surface);
    --color-text: var(--color-text);
    --color-text-secondary: var(--color-text-secondary);
    --color-border: var(--color-border);


    /* Tipografia */
    --font-title: "Poppins", "Saira", sans-serif;
    --font-body: 'DM Sans', "Inter", sans-serif, i-sans-serif, system-ui;
}

@layer base {
    body {
        background: var(--color-background);
        color: var(--color-text);
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: var(--text-4xl);
        font-family: var(--font-title);
    }

    a,
    p,
    button {
        @apply font-body
    }

}

/* @layer utilities {
   
} */

/* Use essa camada para classes mais complexas onde vc ainda almeje sobrescrever com classes utilitárias com card btn badge */
@layer components {
    .title-h2 {
        @apply text-xl sm:text-3xl;
    }

    .glitch {
        position: absolute;
        left: 0;
        right: 0;
    }

    .clip-top {
        -webkit-clip-path: inset(0 0 41% 0);
        clip-path: inset(0 0 41% 0);
    }

    .clip-bottom {
        -webkit-clip-path: inset(58% 0 0 0);
        clip-path: inset(58% 0 0 0);
    }

    .redShadow {
        text-shadow: -3px 0 red;
    }

    .greenShadow {
        text-shadow: 3px 0 #00ff88;
    }

    /* Marquee blur */
    .marq-container {
        height: 100%;
        width: 100%;
        position: relative;
        pointer-events: none;
    }

    .resizable[data-spill=true] .marq-container::after {
        content: "";
        position: fixed;
        top: 50%;
        left: 50%;
        background: hsl(10 0% 50% / 0.25);
        width: calc(var(--scale) * 10000vw);
        height: calc(var(--scale) * 10000vh);
        pointer-events: none;
        translate: -50% -50%;
        mask:
            linear-gradient(white, white) 50% 50% / 100% 100% no-repeat,
            linear-gradient(white, white) 50% 50% / 100cqi 100cqh no-repeat;
        mask-composite: exclude;
    }

    .resizable {
        resize: both;
        overflow: hidden;
        container-type: size;
        scale: var(--scale);
        width: 100px;
        height: 100px;
    }

    .resizable[data-spill=true] {
        overflow: visible;
        outline: 4px dashed white;
    }

    .resizable:active {
        outline: 2px solid hsl(0 0% 100% / 0.5);
    }

    [data-spill=true] .marq-container {
        mask: unset;
        overflow: visible;
    }

    .resizable {
        min-height: 100px;
        min-width: 300px;
        max-width: calc(100% - 2rem);
    }

    .marq-container ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .marq-container ul {
        height: 100%;
        width: fit-content;
        padding: 0;
        align-items: center;
        pointer-events: none;
    }

     .marq-container ul li {
        height: 80%;
        aspect-ratio: 16 / 9;
        font-size: clamp(2rem, 4vw + 1rem, 8rem);
        display: grid;
        place-items: center;
    }

     .marq-container ul li svg {
        fill: white;
        height: 65%;
    }

    [data-play-state=running] :is(ul, li) {
        animation-play-state: running !important;
    }

    [data-play-state=paused] :is(ul, li) {
        animation-play-state: paused !important;
    }

    .marq-container {
        mask: linear-gradient(90deg, transparent, black 15% 85%, transparent);
        width: 100%;
        display: grid;
    }

    /* Blur component */
    .marq-blur {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 25%;
        z-index: 2;
        pointer-events: none;
    }

    .marq-blur--right {
        right: 0;
    }

    .marq-blur--left {
        left: 0;
        rotate: 180deg;
    }

    .marq-blur div {
        position: absolute;
        inset: 0;
        z-index: var(--index);
        mask: linear-gradient(90deg,
                transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
                black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
                black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
                transparent calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%)));
        backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
    }

    .marq-blur {
        opacity: 0;
    }

    [data-outline=true] .marq-blur {
        border: 4px dashed hotpink;
        background: hsl(320 100% 50% / 0.1);
    }

    [data-blurring=true] .marq-blur {
        opacity: 1;
    }

    /* The animation stuff */
    @media(prefers-reduced-motion: no-preference) {
        [data-translate=items] ul {
            gap: 0;
        }

        [data-translate=items][data-direction=horizontal].container {
            padding-inline: 0;
        }

        [data-translate=items] li {
            --duration: calc(var(--speed) * 1s);
            --delay: calc((var(--duration) / var(--count)) * (var(--index, 0) * -1));
            animation: slide var(--duration) var(--delay) infinite linear paused;
            translate: var(--origin-x) var(--origin-y);
        }

        [data-translate=items][data-direction=horizontal] li {
            --origin-x: calc(((var(--count) - var(--index)) + var(--inset, 0)) * 100%);
            --origin-y: 0;
            --destination-x: calc(calc((var(--index) + 1 + var(--outset, 0)) * -100%));
            --destination-y: 0;
        }

        @keyframes slide {
            100% {
                translate: var(--destination-x) var(--destination-y);
            }
        }
    }
}

/* Automaticamente pega o valor do SO o usuário */
@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #0d6efd;
        --color-secondary: #6c757d;
        --color-background: #212529;
        --color-surface: #343a40;
        --color-text: #f8f9fa;
        --color-text-secondary: #adb5bd;
        --color-border: #495057;
    }

}